@font-face {
    font-family: 'Nasa';
    src: local('Nasa'), url(../header//Nasa.ttf) format('truetype');
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
  @font-face {
    font-family: 'Bioweapon';
    src: local('Bioweapon'), url(../../assets//fonts/BIOWEAPON.ttf) format('truetype');
  }
  
  .desblock{
    width: 50%;
}

  .dateselect > h4{
    color: aqua;
    padding-top: 20px;
    font-family: Bioweapon ,sans-serif;
    font-size: 15px;
    margin-top: 20px;
  }
  
  
  .photoblock > img{
    max-width: 100%;
    height:300px;
    overflow: hidden;
    padding: 20px;
    border-radius: 20px;
}
  .main {
    width: 100%;
    margin-top: 2rem;
  }

  .Apod-main {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100vh;
    /* margin: 0px auto; */
    /* margin-top: 2rem; */
  }
  
  .Birthday-main {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .subTitle {
    color: white !important;
  }
  
  
  
  .Birthday-main > * {
    flex: 1;
    /* margin-bottom: 30px; */
  }
  .Apod-main{
    height: 100vh;
  }
  
  .Apod-text {
    font-size: 40px;
    line-height: 1.1;
    color: rgb(18, 194, 238) !important;
    font-family: 'Montserrat', sans-serif;
  
  }
  
  .Birthday-text-p {
    font-size: 38px;
    line-height: 40px;
    color: rgb(199, 203, 204);
    font-family: 'Montserrat', sans-serif;

  }
  
 
  
  .wave-emoji {
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-name: wave;
    display: inline-block;
    transform-origin: 70% 70%;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(12deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(9deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  /* Media Query */
  @media (max-width: 1380px) {
    .Birthday-text {
      font-size: 20px;
    }
    .Birthday-text-p {
      font-size: 20px;
    }
  }

  @media (max-width: 768px) {
  
    .Birthday-text {
      font-size: 30px;
      text-align: left;
    }
    .Birthday-text-p {
      font-size: 16px;
      line-height: normal;
      text-align: left;
    
      /* text-align: center; */
    }
  
 
    .Birthday-text-div{
      padding:  20px;
    }
    .Birthday-main {
      display: block;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .Birthday-image-div {
      height: 256px;
    }
  }
  
  @media (max-width: 320px) {
    .main {
      width: 100%;
    }
  }
  

  
  
  

  .Apod-main{
    background-image: url("https://cdn.dribbble.com/users/3457/screenshots/2006659/animated-svg.gif");
          display: flex;
      flex-direction: row-reverse;
      
  }

  
@media(min-width:600px){
    .Birthday-text-div{
      padding: 60px;
      align-items: flex-start;
      text-align: left;
    }
    
    .greet-main{
      height: 90vh;
    }
    .birthphoto{
        display: flex;
    }
    }
    
    
    
    
    
    @media(max-width:600px){
      .greet-main{
        height: 110vh;
        overflow: hidden;
      }
      .Apod-text {
        font-size: 30px;
        line-height: 1.1;
        /* font-family: 'Nasa', sans-serif; */
        text-align: left;
      
      }
    .photoblock > img{
          border-radius: 20px;
      }
     
      .photoblock > img{
        max-width: 100%;
        height:300px;
        overflow: hidden;
        padding: 20px;
        border-radius: 20px;
    }
    .desblock{
      width: 100%;
  }
    }

   

    .title{
        color: white;
        padding: 10px;
        text-align: left;
        
        margin: 10px;
        border-radius: 10px;
        /* padding-bottom: 20px; */
        border-bottom-width: 10px;
        border-bottom-color: red;
        font-family: 'Viaoda Libre', cursive;
        background-color: rgb(10, 10, 10);
    }
   

    .dateselect{
        background-color: rgb(10 9, 17);
        padding: 10px;
        text-align: left;
        justify-content: left;
        border-radius: 10px;
    }

    


    .birthphoto{
      background-color: rgba(10, 10, 27, 0.986);
      padding: 10px;
    }

  

    .Apod-main{
      background-color: rgb(5, 12, 24);
    }