
@font-face {
  font-family: 'Bioweapon';
  src: local('Bioweapon'), url(../../assets//fonts/BIOWEAPON.ttf) format('truetype');
}

.contact-div-main {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.dark-mode a {
  color: white;
}

.contact-div-main > * {
  padding-top: 50px;

  flex: 1; 
}
#contact{
  background-image: url("https://cdn.dribbble.com/users/3457/screenshots/2006659/animated-svg.gif");
  /* background-size: 90%; */
}
.contact-title {
  font-family: Bioweapon ,sans-serif;

  font-size: 45px;
  font-weight: 400;
}
.contact-detail-email{
  /* font-family: Bioweapon ,sans-serif; */
 font-size: 15px;
}
.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color:white;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: rgb(174, 0, 255);
  text-shadow: 1px 1px 1px green;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
}

.contact-text-div {
  /* margin-top: 1.5rem; */
}
.contact-header{
  /* width: 40%; */
}
.contact-margin-top {
  margin-top: 0px;
}

.contact-image-div > img {
  max-width: 60%;
  height: auto;
  /* margin-left: 6.5rem; */
  /* margin-top: -4rem; */
  border-radius: 10px;
}
.contact-image-div{
    margin-right: 0px;
    justify-content: center;
    /* overflow: hidden;
    width: 100px; */
    
}
/* Media Query */
@media (max-width: 1380px), (max-width: 500px) {
  .contact-title {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
  }

  .contact-title {
    font-size: 30px;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 25px;
  }

 
}


@media  (max-width: 768px) {
  .contact-image-div  {
   /* position: relative;
   left: -50px; */
   
  }
  
.contact-div-main {
  display: block;
  /* flex-direction: row-reverse; */
}
.contact-image-div > img {
  
  width: 100%;
  height: 200px;
  border-radius: 10px;
  /* border-radius: 50%; */
  
}


.contact-image-div{
  padding-bottom: 50px;
}
}




.footer-text {
  text-align: center;
  color: white !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.footer-div >a{
  text-decoration: none;
}


.contact-div-main{
}

.bg{
  background-color: rgba(0, 0, 0, 0.644);

}