@font-face {
  font-family: 'Nasa';
  src: local('Nasa'), url(../header//Nasa.ttf) format('truetype');
}


@font-face {
  font-family: 'Bioweapon';
  src: local('Bioweapon'), url(../../assets//fonts/BIOWEAPON.ttf) format('truetype');
}

h4{
  color: aqua;
  font-family: Bioweapon ,sans-serif;
  font-size: 15px;
}
.h4div > h4{
  color: rgb(187, 255, 0);
  font-family: Bioweapon ,sans-serif;
  font-size: 30px;
}

.main {
  width: 100%;
  margin-top: 4rem;
}
.greet-main {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /* height: 100vh; */
  /* margin: 0px auto; */
  /* margin-top: 2rem; */
}

.greeting-main {
  display: flex;
}

.subTitle {
  color: white !important;
}



.greeting-main > * {
  flex: 1;
  /* margin-bottom: 30px; */
}
.greet-main{
  /* height: 300px;
  overflow: hidden; */
}

.greeting-text {
  font-size: 60px;
  line-height: 1.1;
  color: rgb(238, 18, 18) !important;
  font-family: Nasa, sans-serif;

}
.greeting-text-div{
  /* height: 100vh;
  overflow: hidden; */
}

.greeting-text-p {
  font-size: 35px;
  line-height: 40px;
  color: rgb(199, 203, 204);
}

.greeting-image-div > img {
  max-width: 100%;
  height: 80vh;
  overflow: hidden;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    text-align: left;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: left;
  
    /* text-align: center; */
  }

  h4{
    
    font-size: 10px;
  }
  .greeting-text-div{
    padding:  20px;
  }
  .greeting-main {
    display: block;
  }
  .greeting-image-div {
    /* height: 256px; */
  }
}

@media (max-width: 320px) {
  .main {
    width: 100%;
  }
}

@media(min-width:600px){
.greeting-text-div{
  padding: 60px;
  align-items: flex-start;
  text-align: left;
}

.greet-main{
  height: 100vh;
  /* overflow: hidden; */
}
}





@media(max-width:600px){
  .greet-main{
    height: 100vh;
    overflow: hidden;
  }

}