
  .gallary_title {
    font-size: 30px;
    line-height: 1.1;
    color: rgb(176, 18, 238) !important;
    font-family: Bioweapon , sans-serif;
    margin-top: 50px;
    padding-left: 20px;
  }

  
  .Gallary_main >button{
    background-color: orange;
    font-size: 20px;
    text-transform: uppercase;
    padding: 3px 25px;
    border-radius: 10px;
    margin-top: 50px;
}

.Gallary_main >button:hover{
    background-color: #1b1f23;
    border-width: 1px;
    border-color: orange;
    color: orange;
    position: relative;
    top: -10px;
}

.Photo_grid >img{
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    
    box-shadow:
    0 3.5px 3.6px rgba(148, 3, 245, 0.036),
    0 9.6px 5px rgba(150, 0, 250, 0.047),
    0 3.2px 14.1px rgba(117, 3, 247, 0.056),
    0 7px 20px rgba(117, 1, 250, 0.08);
    -moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);

}
.Photo_grid >img:hover{
    -moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
    cursor: pointer;
    transform: scale(1.1);
    
    box-shadow:
    0 3.5px 3.6px rgba(148, 3, 245, 0.036),
    0 9.6px 5px rgba(150, 0, 250, 0.047),
    0 23.2px 14.1px rgba(117, 3, 247, 0.056),
    0 27px 20px rgba(117, 1, 250, 0.08);

}
.Photo_grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}