@font-face {
    font-family: 'Nasa';
    src: local('Nasa'), url(../header//Nasa.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Bioweapon';
    src: local('Bioweapon'), url(../../assets//fonts/BIOWEAPON.ttf) format('truetype');
  }

  .Tech_title {
    font-size: 30px;
    line-height: 1.1;
    color: rgb(176, 18, 238) !important;
    font-family: Bioweapon , sans-serif;
    margin-top: 50px;
  }


  

  @media (max-width: 768px) {


    .Tech_title {
        font-size: 20px;
        margin-bottom: 40px;
    }
  }


  



