@font-face {
    font-family: 'Nasa';
    src: local('Nasa'), url(../header//Nasa.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Bioweapon';
    src: local('Bioweapon'), url(../../assets//fonts/BIOWEAPON.ttf) format('truetype');
  }

  .Tech_title {
    font-size: 30px;
    line-height: 1.1;
    color: rgb(176, 18, 238) !important;
    font-family: Bioweapon , sans-serif;
    padding-top: 50px;
margin-top: 0px;
  }


  .Donki_main >button{
      background-color: orange;
      font-size: 20px;
      text-transform: uppercase;
      padding: 6px 25px;
      border-radius: 10px;
  }
  
  .Donki_main >button:hover{
      background-color: #1b1f23;
      border-width: 1px;
      border-color: orange;
      color: orange;
      position: relative;
      top: -10px;
  }
  .Donki_main{
      padding-bottom: 40px;
      background-image: url("https://i.imgur.com/R3cpQ9R.gif");

      /* background-image: url("https://cdn.dribbble.com/users/1141571/screenshots/3978202/dribbble_4.gif");
background-size: 98%; */
  }
.Tech_area{
  /* background-color: red; */
}
  @media (max-width: 768px) {


    .Tech_title {
        font-size: 20px;
        /* margin-bottom: 40px; */
    }
  }


  



